html,body{
    height: 100%
}


body{
    background: blueviolet;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.box{
    height: 150px;
    width: 150px;
    border: 1px solid grey;
    background: rosybrown;
    margin: 8px;
    justify-content: center;
    font-size: 150px;
    align-items: center;
    cursor: pointer;
    
}

.game-board{
    display:grid;
    grid-template-columns: repeat(3, auto);
    width: 482px;
    /* margin: 50px auto; */
    border: double, firebrick;
    line-height: 150px;
    

}

.box:hover{
    background-color: rosybrown;
    cursor:pointer;


}

.clear-button{
    background-color: rgb(112, 75, 112);
    width: 85px;
    height: 50px;
    font-size: 25px;
    

}